body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://images.pexels.com/photos/186980/pexels-photo-186980.jpeg?cs=srgb&dl=pexels-tahir-shaw-186980.jpg&fm=jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 120%;
}

.card {
    background: #042b4ed0;
    color: rgb(240, 11, 11);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 1.7em;
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 45px;
    outline: none;
    background: #de92922b;
    color: rgb(236, 19, 19);
    cursor: pointer;
    
}

input.searchbar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: rgb(246, 8, 8);
    font-size: 105%;
}
button:hover {
    background: rgb(16, 14, 14);
    color: rgb(12, 20, 235);
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}
.searchbar:hover {
    background-color: black;
}
